<div class="calculator-container column">
  <!-- TODO: clear btn -->
  <mat-form-field class="calculator-input">
    <mat-label>計算式</mat-label>
    <mat-chip-grid #chipGrid 
                   cdkDropList
                   cdkDropListOrientation="horizontal"
                   (cdkDropListDropped)="drop($event)">
      <mat-chip-row *ngFor="let chip of chips; let i = index"
                    [value]="chip"
                    [ngClass]="getChipClass(chip)"
                    (removed)="remove(i)"
                    cdkDrag>
        {{chip.rawValue}}
        <button matChipRemove><mat-icon>cancel</mat-icon></button>
      </mat-chip-row>
      <input placeholder="輸入時間格式、運算元或數字"
             [matChipInputFor]="chipGrid"
             (matChipInputTokenEnd)="add($event)"
             (focus)="showWarning = false"
             (input)="showWarning = false"/>
    </mat-chip-grid>
  </mat-form-field>
  <div class="warning" *ngIf="showWarning">錯誤的格式</div>
  <div class="result">
    <!-- TODO: result can be add as a chip -->
    結果：{{result}}
  </div>
</div>
